@font-face {
  font-family: TTCommons-Regular;
  src: url("../fonts/TTCommons/TTCommons-Regular.ttf");
}

@font-face {
  font-family: TTCommons-Medium;
  src: url("../fonts/TTCommons/TTCommons-Medium.ttf");
}

@font-face {
  font-family: TTCommons-Semi;
  src: url("../fonts/TTCommons/TTCommons-DemiBold.ttf");
}

@font-face {
  font-family: TTCommons-Thin;
  src: url("../fonts/TTCommons/TTCommons-Thin.ttf");
}

@font-face {
  font-family: TTCommons-Bold;
  src: url("../fonts/TTCommons/TTCommons-Bold.ttf");
}

body {
  overflow-x: hidden !important;
  margin: 0;
  background: #f8f8f8;
  position: relative;
}

main {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: TTCommons-Semi;
  margin-bottom: 0;
}

a,
button,
label {
  font-family: TTCommons-Semi;
  cursor: pointer !important;
}

label,
b {
  font-family: TTCommons-Medium;
}

p,
b,
span,
ol,
em,
i,
button {
  font-size: 18px;
}

button:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

p,
span,
ol,
em,
i,
button {
  font-family: TTCommons-Regular;
}

a {
  /* text-decoration-; */
}

small {
  font-size: 12px;
}

input {
  font-family: TTCommons-Regular;
  outline: none;
}

textarea,
small {
  font-family: TTCommons-Regular;
}

table {
  width: 100%;
}

img {
  cursor: pointer;
}

*::placeholder {
  font-family: TTCommons-Thin;
}

.bold {
  font-family: TTCommons-Bold;
}

.semi {
  font-family: TTCommons-Semi;
}

.space_between {
  justify-content: space-between;
}

.heading__regular {
  font-size: 40px;
}

.h1 {
  font-size: 40px;
  font-family: TTCommons-Bold;
}

.h2 {
  font-size: 30px;
  font-family: TTCommons-Bold;
}

.h3 {
  font-size: 22px;
  font-family: TTCommons-Semi;
}

.h4 {
  font-size: 20px;
  font-family: TTCommons-Semi;
}

.h5,
.h5 span {
  font-size: 18px;
  font-family: TTCommons-Semi;
}

.rel {
  position: relative;
}

.non_btn {
  border: none;
  background: transparent;
}

.non_link {
  text-decoration: none;
  color: #000;
}

.non_link:hover {
  text-decoration: none;
  color: #000;
}


.default__input {
  border: 1px solid #FF2E00;
  display: block;
  border-radius: 4px;
  padding: 4px 0;
  margin: 8px 0;
  width: 100%;
  font-size: 16px;
}

.login__input {
  width: 300px;
  border-radius: 4px;
  border: 1px solid #FF2E00;
  padding: 4px;
  display: block;
}

.default__input::placeholder {
    padding-left: 4px;
    color: #000;
}

.default__btn {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-family: TTCommons-Bold;
  background: #FF2E00;
  color: #fff;
}

.default__link {
  text-decoration: none;
  color: #AEAEAE;
}

.default__link:hover {
  text-decoration: underline;
  color: #AEAEAE;
}

.default__link_white {
  text-decoration: none;
}

.link__small {
  font-size: 14px;
}

.default__link_white:hover {
  text-decoration: underline;
}

.customToast {
  z-index: 10001;
}

.loader {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}
