.about_news {
  background-color: white;
  padding: 10px;
}

.map {
  float: left;
}

.author {
  display: flex;
  padding: 0;
  margin-bottom: 20px;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.author p {
  margin-left: 5px;
}

.label {
  margin: 0;
  padding: 0;
  color: #ff2e00;
}

.news_card {
  background-color: white;
  padding: 10px;
}

.news_button {
  border: none;
  border-radius: 5px;
  background-color: #ff2e00;
  width: 200px;
  color: white;
}

.title {
  padding-left: 3px;
}

.card_header {
  display: flex;
  justify-content: space-between;
}
