.profile_header {
    display: grid;
    grid-template-columns: 4fr 5fr 5fr 3fr;
    width: 100%;
    background: white;
}

.profile_image {
    width: 40%;
}

.name {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.info_block {
    margin: auto 0 auto 0;
}

.profile_name,
.contacts,
.skills,
.last_search {
    margin: auto 0 auto 0;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.contacts,
.skills,
.last_search {
    border-left: 1px solid lightgray;
}

.surname {
    margin-left: 10px;
}